# **Package installation**

In [53]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

# **Necessary Imports**

In [54]:
import psycopg2

# **Database URI**
### **NB: - The URI is hidden for the security purpose, thanks.**

In [55]:
DATABASE_URI = ""

# **Users schema**

## **Table Deletion**

In [56]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

deletion = "DROP TABLE IF EXISTS users"

cur.execute(deletion)
connection.commit()

cur.close()
connection.close()

## **Creation**

In [57]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

creation = """
  CREATE TABLE public.users(
      id SERIAL PRIMARY KEY,
      name CHARACTER VARYING(50) NOT NULL,
      phone NUMERIC NOT NULL,
      password CHARACTER VARYING(50) NOT NULL,
      email CHARACTER VARYING NOT NULL
  );
"""

cur.execute(creation)
connection.commit()

cur.close()
connection.close()

## **Insertion**

In [58]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

insertions = [
    "INSERT INTO public.users(name, phone, password, email) VALUES('John Doe', 11111111111, 'pass1', 'john_doe@gmail.com');",
    "INSERT INTO public.users(name, phone, password, email) VALUES('Jane Doe', 22222222222, 'pass2', 'jane_doe@gmail.com');",
    "INSERT INTO public.users(name, phone, password, email) VALUES('Mark Doe', 33333333333, 'pass3', 'mark_doe@gmail.com');",
]

for insert in  insertions:
  cur.execute(insert)

connection.commit()
cur.close()
connection.close()

## **Viewing Data**

In [59]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

selection = "SELECT * FROM users;"

cur.execute(selection)
users = cur.fetchall()

cur.close()
connection.close()

for user in users:
  print(user)

(1, 'John Doe', Decimal('11111111111'), 'pass1', 'john_doe@gmail.com')
(2, 'Jane Doe', Decimal('22222222222'), 'pass2', 'jane_doe@gmail.com')
(3, 'Mark Doe', Decimal('33333333333'), 'pass3', 'mark_doe@gmail.com')

## **Table Deletion**

In [60]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

deletion = "DROP TABLE IF EXISTS movies"

cur.execute(deletion)
connection.commit()

cur.close()
connection.close()

## **Creation**

In [61]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

creation = """
  CREATE TABLE public.movies(
      id SERIAL PRIMARY KEY,
      name CHARACTER VARYING(50) NOT NULL,
      genre CHARACTER VARYING(20) NOT NULL,
      rating CHARACTER VARYING(10) NOT NULL,
      release_date DATE NOT NULL
  );
"""

cur.execute(creation)

connection.commit()
cur.close()
connection.close()

## **Insertion**

In [62]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

insertions = [
    "INSERT INTO public.movies(name, genre, rating, release_date) VALUES('Home Alone', 'Comedy', 'PG', TO_DATE('04/01/1996', 'DD/MM/YYYY'));",
    "INSERT INTO public.movies(name, genre, rating, release_date) VALUES('The Godfather', 'Crime', 'R', TO_DATE('04/01/1972', 'DD/MM/YYYY'));",
    "INSERT INTO public.movies(name, genre, rating, release_date) VALUES('Avengers: Endgame', 'Action', 'PG', TO_DATE('04/01/2019', 'DD/MM/YYYY'));",
]

for insert in  insertions:
  cur.execute(insert)

connection.commit()
cur.close()
connection.close()

## **Viewing Data**

In [63]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

selection = "SELECT * FROM movies;"

cur.execute(selection)
movies = cur.fetchall()

cur.close()
connection.close()

for movie in movies:
  print(movie)

(1, 'Home Alone', 'Comedy', 'PG', datetime.date(1996, 1, 4))
(2, 'The Godfather', 'Crime', 'R', datetime.date(1972, 1, 4))
(3, 'Avengers: Endgame', 'Action', 'PG', datetime.date(2019, 1, 4))

## **Table Deletion**

In [64]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

deletion = "DROP TABLE IF EXISTS ratings"

cur.execute(deletion)
connection.commit()

cur.close()
connection.close()

## **Creation**

In [65]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

creation = """
  CREATE TABLE public.ratings(
      id SERIAL PRIMARY KEY,
      user_id INTEGER REFERENCES public.users,
      movie_id INTEGER REFERENCES public.movies,
      rating FLOAT NOT NULL
  );
"""

cur.execute(creation)
connection.commit()

cur.close()
connection.close()

## **Insertion**

In [66]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

insertions = [
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(1, 1, 5.0);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(1, 2, 4.0);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(1, 3, 3.3);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(2, 1, 5.0);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(2, 3, 4.5);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(3, 1, 1.6);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(3, 2, 0.0);",
    "INSERT INTO public.ratings(user_id, movie_id, rating) VALUES(3, 3, 3.4);",
]

for insert in  insertions:
  cur.execute(insert)

connection.commit()
cur.close()
connection.close()

## **Viewing Data**

In [67]:
connection = psycopg2.connect(DATABASE_URI)
cur = connection.cursor()

selection = "SELECT * FROM ratings;"

cur.execute(selection)
ratings = cur.fetchall()

cur.close()
connection.close()

for rating in ratings:
  print(rating)

(1, 1, 1, 5.0)
(2, 1, 2, 4.0)
(3, 1, 3, 3.3)
(4, 2, 1, 5.0)
(5, 2, 3, 4.5)
(6, 3, 1, 1.6)
(7, 3, 2, 0.0)
(8, 3, 3, 3.4)